In [10]:
# загружаю нужные библиотеки

import pandas as pd

In [11]:
work_putin = pd.read_excel('C:/00_Projects/2021/Putin_2021/putin.xlsx', sheet_name='data')

In [9]:
(work_putin
 .groupby(['region', 'federal_district'], as_index=False)
 .agg({'street': 'count'})
 .rename(columns={'street': 'street_number'})
 .sort_values(['federal_district', 'street_number'], ascending=[True, False])
)

#.to_excel('C:/00_Projects/2021/Putin_2021/temp.xlsx')

In [13]:
(work_putin[(
    (work_putin.sub_city == 'city') &
    (work_putin.city != 'Грозный')
)]
 .groupby('federal_district', as_index=False)
 .agg({'city_population': 'mean'})
 #.rename(columns={'street': 'street_number'})
 .sort_values('city_population', ascending=False)
)

                      federal_district  city_population
1  Северо-Кавказский федеральный округ      4619.363636
0        Приволжский федеральный округ       789.333333
2          Сибирский федеральный округ       471.000000
3          Уральский федеральный округ       309.000000
4        Центральный федеральный округ       120.000000

In [5]:
work_putin.sample()

,street_type,street,city_type,city,population,population_p,sub_city,mun_district,region,federal_district,...,oktmo,normdoc,aoguid,previd,regioncode,first_date,year,first_name,docname,docdate
25,ул,Путина,с,Каменное,309.0,309.0,city,Октябрьский,Ханты-Мансийский АО,Уральский федеральный округ,...,71821424,NaN,4ee923c7-0962-4d5f-abc2-4a9cd2e890c5,25e48979-bca0-4018-a0e5-7a8d04bbff3e,86,2008-12-15,2008.0,Путина,NaN,NaT

In [ ]:
(work_putin
 .groupby('year', as_index=False)
 .agg({'street': 'count'})
 #.rename(columns={'street': 'street_number'})
 .sort_values('year', ascending=False)
).to_excel('C:/00_Data/temp.xlsx', index=False)

In [ ]:
(work_putin[(
    (work_putin.sub_city == 'city') &
    (work_putin.city != 'Грозный')
)]
 .groupby('federal_district', as_index=False)
 .agg({'city_population': 'mean'})
 #.rename(columns={'street': 'street_number'})
 .sort_values('city_population', ascending=False)
)